<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236764716905-8a0turl2b5lpukr8ja6inr23fc568nnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236764716905-8a0turl2b5lpukr8ja6inr23fc568nnc</string>
	<key>API_KEY</key>
	<string>AIzaSyC21cat1NPVPn-ntS2AZQfqStGR8zvBxYw</string>
	<key>GCM_SENDER_ID</key>
	<string>236764716905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grid</string>
	<key>PROJECT_ID</key>
	<string>grid-93fd5</string>
	<key>STORAGE_BUCKET</key>
	<string>grid-93fd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236764716905:ios:cd2cfa3d287604d49667f8</string>
</dict>
</plist>